* {
    padding:  0px;
    margin: 0px;
}

body {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 16px;
}

main {
    width: 100%;
    height: auto;
}

.container .content {
    display: flex;
}

.content-address {
    margin: 30px 25px;
}

.content-address h3 {
    color: #D9B23D;
    margin: 0 0 20px;
}

.content .content-address p {
    margin: 15px 0 10px;
}

.content-address .phone b {
    margin: 15px 0 10px;
}

.form-information {
    margin: 30px 25px;
    box-sizing: border-box;
}

.form-information h3 {
    color: #D9B23D;
    margin: 0 0 20px;
}

.form-information .form {
    display: flex;
}

.form-information input {
    background: #e4e2e3;
    border: 1px solid #e4e2e3;
    height: 40px;
}

.form-information .input-text{
    width: 200px;
}

.form-information textarea {
    margin: 20px 0 0;
    background: #e4e2e3;
    width: 597px;
    height: 200px;
    padding: 5px 12px;
    border: 1px solid #ccc;
}

input[type='button'],
input[type='submit'] {
    height: 40px;
    padding: 0 20px;
    margin: 15px 10px 0 0;
    font-size: 18px;
    font-weight: bold;
    color: #565656;
    background-color: #fff;
    border: 1px solid #ccc;
}

.support {
    display: flex;
    background-color: #fff6e5;
    margin: 0 0 60px;
    padding: 0 20px 20px 20px;  
}

.support .support-services {
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    width: 50%;
    margin: 25px 50px 25px 30px;
}   

.support-services h3 {
    color: #D9B23D;
    margin: 10px 0 0;
    font-weight: 600;
    font-size: 22px;
}

.support-services p {
    margin: 15px 0 10px;
    line-height: 1.8;
    text-align: justify;
    font-size: 14px;
} 

.counsel {
    width: 50%;
}

.cashier {
    display: flex;
}

.cashier div {
    text-align: center;
}

.cashier div img {
    width: 120px;
    height: 120px;
    margin: 45px 27px 10px ;
    border: 10px #efedee solid;
    border-radius: 100px;
}

/* MEDIA RESPONSIVE */

@media only screen and (max-width: 768px) {
   .container .content {
        display: block;
    }

   .container .support {
        display: block;
        padding: 20px;
    }

   .support .support-services{
        margin: 0;
        text-align: center;
        width: 100%;
    }

   .support .support-services p{
        text-align: center;
    }

   .counsel {
        width: 100%;
    }

   .counsel .cashier{
        padding: 0 30px;
    }
}

@media only screen and (max-width: 992px) {
    .container .support {
        display: block;
        padding: 20px;
    }

   .support .support-services{
        margin: 0;
        text-align: center;
        width: 100%;
    }

   .support .support-services p{
        text-align: center;
        padding: 0 25px;
    }

   .counsel {
        width: 100%;
    }

   .counsel .cashier{
        padding: 0 150px;
        justify-content: center;
    }
}