* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

/* html{
    font-size: 62.5%;
} */

/* HEADER */
.container-fluid {
  background-color: #fff;
}

#header.active {
  box-shadow: 0 0 10px 2px rgba(28, 28, 28, 0.2);
}

#header img {
  width: 200px;
  transition: 0.2s;
}
#header.active img {
  width: 100px;
}

#header.active .nav-link {
  font-size: 13px;
}

#header.active .search_icon {
  line-height: 20px;
  font-size: 15px;
  height: 20px;
  width: 20px;
}

#header.active .shopping_icon {
  line-height: 20px;
  font-size: 15px;
  height: 20px;
  width: 20px;
}

/* search icon */

.container-fluid .icon {
  position: absolute;
  top: 30px;
  right: 250px;
}

.item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Search Btn */
.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 50px;
  padding: 10px;
}

.search_input {
  border: 0;
  border-bottom: 1px solid #abaaaabe;
  outline: 0;
  width: 0;
  caret-color: transparent;
  line-height: 15px;
  font-size: 12px;
  letter-spacing: 1.5;
  transition: width 0.4s linear;
}

.searchbar:hover .search_input {
  /* padding: 0 10px; */
  width: 150px;
  caret-color: #333;
  transition: width 0.4s linear;
}

.searchbar:hover .search_icon {
  color: #e74c3c;
}

.search_icon {
  height: 30px;
  width: 30px;
  background: #fff;

  font-size: 20px;

  border-radius: 50%;
  color: #333;
  text-decoration: none;
  transition: 0.2s;
}

.searchbar button {
  border: none;
}

/* Shopping icon */
.shopping_icon {
  height: 30px;
  width: 30px;
  background: #fff;

  font-size: 20px;

  border: none;
  border-radius: 50%;
  color: #333;
  text-decoration: none;
  transition: 0.2s;
}

.shopping-cart {
  margin-bottom: auto;
  margin-top: auto;
  height: 50px;
  padding: 10px;
}

.shopping-cart:hover .shopping_icon {
  color: #e74c3c;
}

/* Nav bar */

.navbar a {
  color: #333;
  cursor: pointer;
  transition: all 0.4s;
}

.navbar a:hover {
  color: rgb(222, 64, 64);
}

.navbar .fa-chevron-down {
  font-size: 10px;
}

.navbar .nav-link {
  font-size: 13px;
}

/* Footer */

.cover-footer {
  width: 100%;
  border-top: 1px solid #000000;
}

.content-footer {
  width: 60%;
  margin: 0 auto;
  padding-top: 50px;
  /* background-color: rgb(213, 147, 66); */
  display: flex;
  /* flex-direction: column; */
}

.col-footer {
  flex: 25%;
  padding: 20px 20px;
}

.col-footer p {
  color: #786f69;
}

.col-footer .title {
  font-weight: 700;
  color: #424242;
}

.icon-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}

.icon-footer a {
  color: #424242;
  padding: 0 10px;
}

.icon-footer i {
  font-size: 26px;
}

.content-footer img {
  width: 300px;
}

.col-footer a.link {
  text-decoration: none;
  color: #786f69;
}

/* MEDIA */

@media only screen and (max-width: 768px) {
  .container-fluid .icon {
    /* display: none; */
    right: 50px;
  }

  #header.active .icon {
    top: 10px;
  }

  header .navbar-nav {
    flex-direction: row;
    align-items: flex-end;
  }

  .content-footer {
    display: block;
  }
}

@media only screen and (max-width: 992px) {
  .container-fluid .icon {
    /* display: none; */
    right: 50px;
  }

  #header.active .icon {
    top: 10px;
  }

  .content-footer {
    display: block;
    /* text-align: justify; */
  }

  .col-footer img {
    width: 100%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1200px) {
  .container-fluid .icon {
    /* display: none; */
    right: 50px;
  }

  #header.active .icon {
    top: 10px;
  }

  .content-footer {
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
  }

  .col-footer {
    flex: 15%;
    padding: 20px 20px;
  }
}
