* {
    padding:  0px;
    margin: 0px;
}

body {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 16px;
}

main {
    width: 100%;
    height: auto;
}

/* Giới thiệu */

.header-main {
    font-size: 60%;   
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 4.5rem;
    margin-top: 50px;
    padding-top: 50px;
}

.left-head {
    text-align: center;
    padding: 0 153px;
    font-size: 200%;
    width: 65%;
}

.right-head {
    width: 35%;
    text-align: center;
}

.right-head img {
    width: 420;
    height: 500;
}

.left-head .logo {
    width: 250px;
    margin: 0 0 35px;
}

.left-head h1 {
    font-size: 170%;
    padding-bottom: 1.5rem;
    font-weight: 600;
}

.left-head p {
    text-align: left;
    font-size: 80%;
    color: #777777;
}


.mid-main {
    background-color: rgb(228, 224, 224);
}

.top-mid-main {
    display: flex;
}

.left-mid {
    width: 40%;
}

.left-mid img {
    max-width: 100%;
    height: auto;
    padding: 35px 15px 0px;
}

.right-mid {
    padding: 250px 0 139px 139px;
    width: 55%;
    max-width: 100%;
    max-height: 100%;
}

.right-mid p {
    color: #777777;
    padding: 15px;
    text-align: justify;
    line-height: 1.6;
}

.list-radiusimg {
    display: flex;
    padding: 20px 0;
    justify-content: center;
}

.list-radiusimg img {
    border-radius: 2px white solid ;
    padding: 0 15px;
    max-height: 100%;
    max-width: 100%;
}

.bottom-mid-main {
    margin: auto;
    width: 1125px;
    padding-top: 5rem;
    padding-bottom: 1rem;
}

.bottom-mid-main h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 650;
    margin: 0 0 20px;
}

.bottom-mid-main p,ul {
    text-align: left;
    color:#777777;
}

.bottom-mid-main ul li{
    margin: 0 0 10px;
}

.bot-main {
    display: flex;
    align-items: center;
    padding-bottom: 5rem;
}

.bot-main .content-left {
    padding: 0 153.587px;
    width: 70%;
} 

.content-left h1,p {
    margin: 0 0 20px;
}

.content-left h1 {
    font-size: 30px;
}

.bot-main p {
    color: #777777;
    text-align: justify;
}

.img-right {
    width: 30%;
}

.img-right img {
    width: 450px;
    height: auto;
}

.last h6 {
    color:#777777;
}

.img-main img {
    width: 100%;
}

.last-text{
    padding: 80px 0;
    margin: 0 80px 30px 80px;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.last-text h6{
    padding: 10px 0 ;
    font-weight: 650;
    color: #777777;
}

.finally {
    display: flex;
    margin-bottom: 70px;
    margin-top: 70px;
}

.img-finally {
    padding: 0 15px;
    width: 40%;
    max-width: 100%;
}

.img-finally img {
    width: 600px;
    height:auto;
}

.content-finally {
    margin-top: 200px;
    padding: 0 60px;
    width: 60%;
    max-width: 100%;
}

.content-finally h3 {
    margin: 0 0 20px;
    font-weight: 600;
    text-align: center;
}

.content-finally p {
    margin: 0 0 20px;
    color:#777777;
    text-align: center;
    font-size:medium;
}


/* MEDIA RESPONSE */

@media only screen and (max-width: 768px){
    .header-main{
        display: block;
        padding: 0;
    }

    .left-head {
        text-align: center;
        width: 100%;
        padding: 20px;
    }

    .left-head .logo {
        width: 250px;
        margin: 30px 250px;
    }

    .left-head p{
        text-align: center;
    }

    .right-head {
        width: 100%;
    }

    .right-mid {
        padding: 15px;
        width: 55%;
        max-width: 100%;
        max-height: 100%;
    }

    .top-mid-main{
        display: flex;
        justify-content: space-between;
    }

    .bottom-mid-main {
        width: 100%;
        padding: 30px;
        text-align: justify;
    }

    .bot-main {
        display: block;
    }
    
    .bot-main .content-left {
        padding: 30px 20px;
        width: 100%;
    }

    .content-left .img-right {
        width: 100%;
    }

    .img-right img {
        width: 768px;
    }

    .last-text {
        padding: 20px 30px;
    }

    .finally {
        padding: 0 20px;
    }

    .img-finally {
        padding:0;
    }

    .img-finally img {
        width: 100%;
    }

    .content-finally{
        margin: 0;
        padding: 0 20px;
        text-align: justify;
    }

}

@media only screen and (max-width: 992px){
    .header-main{
        padding: 0;
    }

    .left-head {
        padding: 0 20px;
        width: 60%;
    }

    .left-head p {
        text-align: justify;
    }

    .right-head  {
        width: 40%;
    }

    .right-head img {
        width: 100%;
    }

    .top-mid-main {
        justify-content: space-between;
        padding: 20px 20px;
    }

    .right-mid {
        padding: 20px 0;
    }

    .bottom-mid-main {
        width: 100%;
        padding: 30px;
        text-align: justify;
    }

    .bot-main .content-left {
        padding: 0 20px;
        margin-top: 50px;
    }

    .img-right img{
        width: 100%;
    }

    .last-text {
        padding: 20px 30px;
    }

    .finally {
        padding: 0 20px;
    }

    .img-finally {
        padding:0;
    }

    .img-finally img {
        width: 100%;
    }

    .content-finally{
        margin: 0;
        padding: 0 20px;
    }

    .content-finally p {
        text-align: justify;
    }
}

@media only screen and (max-width: 1200px){
    .header-main{
        padding: 0;
    }

    .left-head {
        padding: 0 30px;
        width: 60%;
    }

    .right-head {
        width: 40%;
    }

    .right-head img {
        width: 100%;
    }

    .right-mid {
        padding: 20px 0;
    }

    .top-mid-main {
        justify-content: space-between;
        padding: 20px 20px;
    }

    .bottom-mid-main {
        width: 100%;
        padding: 30px;
        text-align: justify;
    }

    .bot-main .content-left {
        padding: 0 20px;
        margin-top: 50px;
    }

    .img-right img{
        width: 100%;
    }

    .last-text {
        padding: 30px 30px;
    }

    .finally {
        padding: 0 20px;
    }

    .img-finally {
        padding:0;
    }

    .img-finally img {
        width: 100%;
    }

    .content-finally{
        margin: 0;
        padding: 0 20px;
    }

    .content-finally p {
        text-align: justify;
    }

}