/* Giới thiệu */

.header-main {
    font-size: 60%;   
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 4.5rem;
}

.left-head {
    text-align: center;
    padding: 0 153px;
    font-size: 200%;
}

.left-head .logo {
    width: 250px;
    margin: 0 0 35px;
}

.left-head h1 {
    font-size: 170%;
    padding-bottom: 1.5rem;
}

.left-head p {
    text-align: left;
    font-size: 80%;
    color: #777777;
}


.mid-main {
    background-color: rgb(228, 224, 224);
}

.top-mid-main {
    display: flex;
}

.left-mid img {
    width: 600px;
    height: auto;
    padding: 35px 15px 0px;
}

.right-mid {
    padding: 138px 0;
}

.right-mid p {
    color: #777777;
    padding: 15px;
}


.list-radiusimg {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;

}

.list-radiusimg img {
    border-radius: 2px white solid ;
    width: 180px;
    height: auto;
    padding: 0 15px;
}

.bottom-mid-main {
    margin: auto;
    width: 1125px;
    padding-top: 5rem;
    padding-bottom: 1rem;
}

.bottom-mid-main h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 650;
    margin: 0 0 20px;
}

.bottom-mid-main p,ul {
    text-align: left;
    color:#777777;
}

.bottom-mid-main ul li{
    margin: 0 0 10px;
}

.bot-main {
    display: flex;
    align-items: center;
    padding-bottom: 5rem;
}

.bot-main .content-left {
    padding: 0 153.587px;

} 

.content-left h1,p {
    margin: 0 0 20px;
}

.content-left h1 {
    font-size: 30px;
}

.bot-main p {
    color: #777777;
}

.bot-main img {
    width: 450px;
    height: auto;
}



.last h6 {
    color:#777777;
}

.img-main img {
    width: 100%;
}

.last-text{
    padding: 80px 0;
    margin: 0 80px 30px 80px;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.last-text h6{
    padding: 10px 0 ;
    font-weight: 650;
    color: #777777;
}

.finally {
    display: flex;
    margin-bottom: 70px;
    margin-top: 70px;
}

.img-finally {
    padding: 0 15px;
}

.img-finally img {
    width: 600px;
    height:auto;
}

.content-finally {
    margin-top: 200px;
    padding: 0 60px;
}

.content-finally h3 {
    margin: 0 0 20px;
    font-weight: 600;
    text-align: center;
}

.content-finally p {
    margin: 0 0 20px;
    color:#777777;
    text-align: center;
    font-size:medium;
}