/* Best Product */
.bestProduct {
  padding-top: 40px;
}

.bestProduct h1 {
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
}

/* Carousel Product */
.carousel-product {
  padding: 50px 0;
}

.carousel-product .carousel-item {
  min-height: 330px;
  text-align: center;
  overflow: hidden;
}
.carousel-product .carousel-item .img-box {
  height: 160px;
  width: 100%;
  position: relative;
}
.carousel-product .carousel-item img {
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.carousel-product .carousel-item h4 {
  font-size: 18px;
  margin: 10px 0;
}
.carousel-product .carousel-item .btn {
  color: #333;
  border-radius: 0;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  background: none;
  border: 1px solid #ccc;
  padding: 5px 10px;
  margin-top: 5px;
  line-height: 16px;
}
.carousel-product .carousel-item .btn:hover,
.carousel-product .carousel-item .btn:focus {
  color: #fff;
  background: #000;
  border-color: #000;
  box-shadow: none;
}
.carousel-product .carousel-item .btn i {
  font-size: 14px;
  font-weight: bold;
  margin-left: 5px;
}
.carousel-product .thumb-wrapper {
  text-align: center;
}
.carousel-product .thumb-content {
  padding: 15px;
}

.carousel-product .item-price {
  font-size: 13px;
  padding: 2px 0;
}
.carousel-product .item-price strike {
  color: #999;
  margin-right: 5px;
}
.carousel-product .item-price span {
  color: #86bd57;
  font-size: 110%;
}
.carousel-product .carousel-indicators {
  bottom: -300px;
}
.carousel-indicators li,
.carousel-indicators li.active {
  width: 10px;
  height: 10px;
  margin: 4px;
  border-radius: 50%;
  border-color: transparent;
  border: none;
}
.carousel-product .carousel-indicators li {
  background: rgba(0, 0, 0, 0.2);
}
.carousel-product .carousel-indicators li.active {
  background: rgba(0, 0, 0, 0.6);
}
.star-rating li {
  padding: 0;
}
.star-rating i {
  font-size: 14px;
  color: #ffc000;
}

.carousel-product .linkToProduct {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  cursor: pointer;
}

.linkToProduct a {
  text-decoration: none;
  color: rgb(241, 239, 239);
  padding: 5px 15px;
  background: rgb(0, 0, 0);
}
