.container .content {
    display: flex;
}

.content-address {
    margin: 30px 25px;
}

.content-address h3 {
    color: #D9B23D;
    margin: 0 0 20px;
}

.content .content-address p {
    margin: 15px 0 10px;
}

.content-address .phone b {
    margin: 15px 0 10px;
}

.form-information {
    margin: 30px 25px;
}

.form-information h3 {
    color: #D9B23D;
    margin: 0 0 20px;
}

.form-information .form {
    display: flex;
}

.form-information input {
    background: #e4e2e3;
    border: 1px solid #e4e2e3;
    height: 40px;
}

.form-information textarea {
    margin: 20px 0 0;
    background: #e4e2e3;
    width: 578px;
    height: 200px;
    padding: 5px 12px;
    border: 1px solid #ccc;
}

input[type='button'],
input[type='submit'] {
    height: 40px;
    padding: 0 20px;
    margin: 15px 10px 0 0;
    font-size: 18px;
    font-weight: bold;
    color: #565656;
    background-color: #fff;
    border: 1px solid #ccc;
}

.support {
    display: flex;
    text-align: center;
}

.support .support-services {
    font-size: 14px;
    font-weight: 600;
    text-align: left;
}   

.support-services h3 {
    color: #D9B23D;
    margin: 10px 0 0;
}

.support-services p {
    margin-top: 15px;
} 

.counsel {
    display: flex;
    justify-content: space-around;
}

.cashier {

}